body:not(.android) .android-only,
body:not(.ios) .ios-only,
body:not(.windows) .windows-only{
  display: none;
}

.os-conditional,
.settings button.os-conditional{
  display: none;
}

body.android .os-conditional.android,
body.ios .os-conditional.ios,
body.windows .os-conditional.windows,
body.android .settings button.os-conditional.android,
body.ios .settings button.os-conditional.ios,
body.windows .settings button.os-conditional.windows{
  display: block;
}